.hero-container {
    margin: 22px 0px 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

.hero-text h1 {
    max-width: 560px;
}

.hero-text p {
    max-width: 448px;
}

button {
    display: flex;
    height: 56px;
    max-width: fit-content;
    padding: 14px 32px 15px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: $buttonBgColor;
    border: none;
}

button:hover {
    text-decoration: underline;
}

.hero-image {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 767px){
    .hero-container {
        margin: 0px 0px 24px;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
    }

    .hero-content {
        width: 100%;
        align-items: center;
    }

    .hero-text h1 {
        max-width: 100%;
        text-align: center;
    }

    .hero-text p {
        max-width: 100%;
    }
}